<main>
    <div class="ui vertically divided grid">
        <div class="two column row">
            <div class="ten wide column">
                <div class="ui segment">
                    <div ng-show="loggedIn">
                        <div ng-show="wall.length > 0">
                            <div class="ui feed">
                                <div class="event" ng-show="post.message != null || post.story != null" ng-repeat="post in wall track by $index">
                                    <div class="content">
                                        <div class="summary">
                                            <span>
                                                {{post.story}}
                                            </span>
                                            <div class="date">
                                                {{ post.created_time | date : 'medium'}}
                                            </div>
                                        </div>
                                        <div class="extra text">
                                            {{post.message}}
                                        </div>
                                        <div class="ui clearing divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="wall.length > 0">
                            Nothing on your Facebook Feed! Perhaps you should make a post!
                        </div>
                    </div>
                    <div ng-hide="loggedIn">
                        Log in to see your Facebook Feed
                    </div>
                </div>
            </div>

            <div class="six wide column">
                <div class="ui segment">
                    <div>
                        <div class="ui labeled input">
                            <input type="text" placeholder="Zip Code" ng-model="currentZipCode" ng-enter="weatherUpdate()">
                        </div>
                        <div style="margin-top : .5em" class="ui button" ng-click="weatherUpdate()">
                            Get Weather
                        </div>
                        <div class="ui error message" ng-show="zipError">
                            <ul class="list">
                                <li>Please enter a valid Zip Code</li>
                            </ul>
                        </div>
                    </div>
                    <div ng-hide="weather.errorLoading">
                        <br />
                        <h3>Weather For <a href="#/weather?weatherZip={{weather.zip}}" title="Weather Details">{{weather.zip}}</a></h3>
                        <div class="ui button" ng-click="saveZip()">
                            Save As Home Location
                        </div>
                        <br /><br />
                        <div>
                            Temperature: {{weather.farenheitTemperature}}°
                        </div>
                        <div>
                            High: {{weather.maxFarenheitTemperature}}°
                        </div>
                        <div>
                            Low: {{weather.minFarenheitTemperature}}°
                        </div>
                        <div>
                            Humidity: {{weather.humidity}}%
                        </div>
                        <div>
                            <small>Temperatures displayed in Farenheit</small>
                        </div>
                    </div>
                    <div ng-show="weather.errorLoading">
                        <div class="ui error message">
                            There was an error loading the weather. Please try again later.
                        </div>
                    </div>
                </div>

                <div class="ui segment">
                    <h3>Stock Ticker</h3>
                    <div ng-repeat="stock in stocks track by $index">
                        <a href="#stockSearch?stock={{stock.symbol}}">{{stock.symbol}}</a>
                        <span>
                            {{stock.Ask}} ({{stock.Change}})
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
