################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWEN344Project/obj/Debug/Package/PackageTmp
/SWEN344Project/obj/Debug/TransformWebConfig
SWEN344Project/obj/Debug/_WPPLastBuildInfo.txt
