<main>
    <div class="ui vertically divided grid">
        <div class="two column row">
            <div class="column">
                <div class="ui segment">
                    <div ng-show="loggedIn">
                        <div ng-show="wall.length > 0">
                            <div ng-repeat="post in wall track by $index">
                                <h4>{{post.message}}</h4>
                                <p>
                                    {{post.story}}
                                    <span style="font-style: italic;">
                                        {{ post.created_time | date : 'medium'}}
                                    </span>
                                </p>
                                <p>

                                </p>
                            </div>
                        </div>
                        <div ng-hide="wall.length > 0">
                            Nothing on your Facebook Feed! Perhaps you should make a post!
                        </div>
                    </div>
                    <div ng-hide="loggedIn">
                        Log in to see your Facebook Feed
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui segment">
                    <div>
                        <div class="ui labeled input">
                            <input type="text" placeholder="Zip Code" ng-model="currentZipCode" ng-enter="weatherUpdate()">
                        </div>
                        <div class="ui button" ng-click="weatherUpdate()">
                            Get Weather
                        </div>
                        <div class="ui error message" ng-show="zipError">
                            <ul class="list">
                                <li>Please enter a valid Zip Code</li>
                            </ul>
                        </div>
                    </div>
                    <h3>Weather For {{weather.zip}}</h3>
                    <div>
                        Temperature: {{weather.farenheitTemperature}}°
                    </div>
                    <div>
                        High: {{weather.maxFarenheitTemperature}}°
                    </div>
                    <div>
                        Low: {{weather.minFarenheitTemperature}}°
                    </div>
                    <div>
                        Humidity: {{weather.humidity}}%
                    </div>
                    <div>
                        <small>Temperatures displayed in Farenheit</small>
                    </div>
                </div>

                <div class="ui segment">
                    <h3>Stock Ticker</h3>
                    <div ng-repeat="stock in stocks track by $index">
                        <a href="#stockSearch?stock={{stock.symbol}}">{{stock.symbol}}</a>
                        <br />
                        otherField: {{stock.otherField}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
